    <nav>
        <ul>
            <li><a href="/#">API</a></li>
            <li><a href="/#">FAQ</a></li>
            <li><b><a href="/#">Hostess</a></b></li>
            <li><a href="/#">Legal</a></li>
            <li><a href="https://github.com/ashtonqlb/nakai">Source</a></li>
        </ul>
    </nav>
