
<footer>
    <nav>
        <ul>
            <li><a href=/#>API</a>
            <li><a href="/"><b>Hostess</b></a>
            <li><a href=https://github.com/ashtonqlb/nakai>Source</a>
        </ul>
    </nav>
</footer>