<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=generator content="Filehost 0.0.1">
    <meta name=description
        content="A simple-to-use free temporary file hosting service. It lets you share your photos, documents, music, videos and more with others online with no ads, account sign-up or tracking.">
    <title>Filehost &middot; Temporary file hosting</title>
    <link rel="shortcut icon" href="/public/assets/favicon.png" type="image/png">
    {% include "components/styles" %}
</head>

<body>
    {% block content %}{% endblock content %}
</body>