{% extends "base.html.tera" %}
{% block content %}
    <div class=jumbotron>
        <img src="/static/images/banned.webp" style="height:300px">
        <p class="lead">You are banned!</p>
    </div>
{% endblock content %}