{% extends "base.html.tera" %}
{% block content %}
{# TODO: Implement file previews for text and images, and allow threaded downloading of videos #}
<nav>
    <ul>
        <li><a><b>Report illegal content</b></a>
        {# This will take in the ID of the file uploaded and then flag it for review #}
    </ul>
</nav>
{% endblock content %}